html,
body {
  overflow-y: auto !important;
}
h2.outer {
  text-align: center;
  margin-top: 50px;
  display: block;
}
@media (prefers-color-scheme: dark) {
  h2.outer,
  #powered {
    color: #fff;
  }
}
