<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chatness Preact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
    <script
      type="text/javascript"
      src="https://static.chatness.app/js/elements.js"
    ></script>

    <!-- POWERED LABEL -->
    <small id="powered" class="block text-center" style="margin-bottom: 20px"
      >Powered by
      <a href="https://chatness.app?utm_source=preact">Chatness</a></small
    >
    <script>
      const source = new URL(location.href).searchParams.get('utm_source');
      const hide = source === 'home';
      if (hide) {
        document.querySelector('#powered').style.display = 'none';
      }
    </script>
    <!-- /POWERED LABEL -->
  </body>
</html>
